.jumbotron{
  background-color: orange;
  color:black;
  margin-top: 50px
}
.btn {
  background-color: gray;
  color: black;
}
footer{
  padding: 10px 10px 0 10px;
  background-color:orange;
  margin-bottom: 5px;
  margin-top: 10px;
}
.card-3d {
     flex: 1 150px;
     padding: 2px 5px 2px 5px

}

.btn-saber-más{
  width: 22%;

}
